header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

header{
    border-bottom: 1px solid hsl(var(--border));
    position: sticky;
    top: 0;
    z-index: 1031;
    background: hsl(var(--background)/ .8);
}

header a {
    color:hsl(var(--primary));
    text-decoration:none
}

header a:hover,
header a:focus{
    color:hsl(var(--primary) / .9);
}

nav {
    display:flex;
    align-items: center;
    gap: 20px;
}

