@import './variable.css';

body {
  margin: 0;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  background-color:hsl(var(--primary)) !important;
  color: hsl(var(--primary-foreground)) !important;
  border: unset;
  box-shadow: unset;
}


.btn-primary:hover, .btn-primary:active, .btn-primary:visited{
  background-color:hsl(var(--primary)/ .9) !important;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea{
  background-color: transparent !important;
  border:1px solid hsl(var(--border)) !important;
  color: hsl(var(--primary)) !important;
}

::placeholder{
  color: hsl(var(--muted-foreground));
}

::-webkit-scrollbar{
  background-color: white;
  border-radius: 12px;
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: hsl(var(--border));
  border-radius: 12px;
}